# Virtual environments
.env/
venv/
.venv/

pyvenv.cfg

# config files
nr-sampleapp/config.ini
nr-sampleapp/newrelic.ini
nr-sampleapp/pyvenv.cfg
nr-eventpush/config.ini
nr/eventpush/newrelic.ini
nr-eventpush/pyvenv.cfg
.DS_Store

bin/
lib/
share
lib64